@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');


body {
    margin: 0;
    padding: 0;
}

/*----------- Font sizes -----------*/

h1 {
    font-size: 65px;
    font-family: "Oswald", sans-serif;
    color: #fafafa;
    margin: 0;
    padding: 25px;
    text-align: center;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 45px;
  }
}

h2 {
    font-size: 58px;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 38px;
  }
}

h3 {
    font-size: 48px;
}

@media screen and (max-width: 600px) {
  h3 {
    font-size: 28px;
  }
}

h4 {
    font-size: 36px;
}

@media screen and (max-width: 600px) {
  h4 {
    font-size: 26px;
  }
}

h5 {
    font-size: 30px;
}

@media screen and (max-width: 600px) {
  h4 {
    font-size: 20px;
  }
}

p {
    font-size: 24px;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 18px;
  }
}

/*----------- Navbar -----------*/

#navbar-transparent {
    background-color: rgba(17, 17, 18, 0.25);
    width: 100vw;
} 

.navbar {
    background-color: rgba(17, 17, 18, 1);
    width: 100vw;
    position: relative;
}

.navbar-dark .navbar-brand {
    color: #b82e04;
    font-family: "Oswald", sans-serif;
    font-size: 300%;
}

@media screen and (max-width: 600px) {
  .navbar-dark .navbar-brand {
    font-size: 24px;
  }
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fafafa;
    font-family: "Oswald", sans-serif;
    font-size: 250%;
    font-weight: 200
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #b82e04;
}
/*----------- Hero image/text -----------*/

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/heroimage.jpeg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.hero-outer {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

.hero-text h1 {
    text-align: center;
    /*font-size: 65px;*/
    padding-top: 25px;
    padding-bottom: 0;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Lato", sans-serif;
    /*position: relative;*/
    font-weight: 200;
    left: 0;
    right: 0;
}

.hero-text p {
    text-align: center;
    /*font-size: 30px;*/
    color: rgba(255, 255, 255, 0.5);
    font-family: "Lato", sans-serif;
    /*position: relative;*/
    font-weight: 200;
    padding: 0;
}

.vertical-line {
        display: inline-block;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        margin: 0;
        height: auto;
        padding-left: 4px;
}

.hero-image p span {
    padding: 10px 10px;
}

/*----------- Instrument icons -----------*/

.instrument-intro {
    background-color: #001840;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.page-heading {
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: #fafafa;
    /*font-size: 65px;*/
    padding-top: 25px;
}

.bio {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bio p {
    color: #fafafa;
    font-family: "Lato", sans-serif;
    /*font-size: 28px;*/
    /*letter-spacing: 1px;*/
    font-weight: 100;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: center;
}

.instrument-icon {
    align-items: center;
    justify-content: center;
    padding: 50px;
    position: relative;
}

.padding {
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.instrument-icon h2 {
    text-align: center;
    color: #fafafa;
    font-family: "Oswald", sans-serif;
    /*font-size: 48px;*/
    font-weight: 300;
    padding-top: 50px;
}

.instrument-icon p {
    text-align: center;
    color: #fafafa;
    font-family: "Lato", sans-serif;
    /*font-size: 28px;*/
    font-weight: 200;
}

.inline-block {
    display: inline-block;
}

.grades {
    margin: 0;
}

/*----------- Tuition -----------*/

.tuition-page h1 {
    background-color:  #001840;
    margin: 0;
    padding: 25px;
    text-align: center;
}

/*.tuition-info {
    padding-top: 100px;
    background-color: black
}*/

.tuition-section {
    background-color:  #001840;
    height: 100vh;
    /*margin-left: 15px;
    margin-right: 15px;*/
}

@media screen and (max-width: 600px) {
  .tuition-section {
    height: auto;
    text-align: center;
  }
}

#tuition-image {
    /*height: 600px;*/
    width: 100%
}

.tuition-text {
    padding-top: 15px;   
}

.tuition-text h3 {
    color: #fafafa;
    font-family: "Oswald", sans-serif;
    /*font-size: 48px;*/
    font-weight: 300;
    text-align: center;
    padding-bottom: 15px;
}

.tuition-text p {
    color: #fafafa;
    font-family: "Lato", sans-serif;
    /*font-size: 20px;*/
    /*letter-spacing: 1px;*/
    font-weight: 200;
}

/*----------- Gallery -----------*/

.gallery-page {
    background-color:  #001840;
}

.gallery-container {
    height: 200px;
    width: 200px;
    display: inline-block;
    overflow: hidden;
    padding-top: 25px;
    position: relative;
}

.gallery-image {
    position: absolute;
}

.gallery-margin {
    margin-left: 50px;
    margin-bottom: 50px;
}

/*----------- Videos -----------*/

/*--------- https://css-tricks.com/fluid-width-video/ --------*/

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-top: 50px;
  margin-left: 15%;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}

/*----------- Contact page -----------*/

.contact-page {
    background-color: #001840;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}
.title {
  /*font-size: 4rem;*/
}

.submit-button {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contact-heading {
    padding-top: 50px;
}

.contact-heading h1, h3, p {
    font-family: "Oswald", sans-serif;
    color: #fafafa;
}

.form-group {
    width: 70%;
    margin: 0 auto;
}

/*----------- Footer -----------*/

footer {
    background-color: #111112;
    color: #fafafa;
    min-height: 120px;
    text-align: left;
    padding: 20px 50px;
}

footer h5 {
    font-size: 130%;
    font-weight: 200;
    font-family: "Oswald", sans-serif;
}

footer p {
    font-size: 110%;
    font-weight: 100;
    font-family: "Lato", sans-serif;
}

.social-media li a i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:  #001840;
    padding: 12px;
    color: #fafafa;
}

.social-media li a i:hover {
    background: #b82e04;
}